@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcf8f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

#home-img{
  background-image: url('../../public/images/home-page.jpg');
  background-size: contain;
}
